## Questions and data exploration

In [3]:
import pandas as pd
df = pd.read_csv("/Users/Ana/Desktop/Ironhack/Week_5/Mid_bootcamp_project/data/clean/cleandata.csv")
df.head()

   Unnamed: 0            location plastic_end_of_life_fates  year     value
0           0  Other OECD America                  Littered  2000  0.021844
1           1  Other OECD America                  Littered  2001  0.022556
2           2  Other OECD America                  Littered  2002  0.023735
3           3  Other OECD America                  Littered  2003  0.024734
4           4  Other OECD America                  Littered  2004  0.025961