## Questions and data exploration

In [3]:
import pandas as pd
df = pd.read_csv("../data/clean/cleandata.csv")
df.head()

   Unnamed: 0            location plastic_end_of_life_fates  year     value
0           0  Other OECD America                  Littered  2000  0.021844
1           1  Other OECD America                  Littered  2001  0.022556
2           2  Other OECD America                  Littered  2002  0.023735
3           3  Other OECD America                  Littered  2003  0.024734
4           4  Other OECD America                  Littered  2004  0.025961

# 1. What are the top 3 areas in plastic waste production?

Let's compute the aggregated aomunt of millions of plastic tons generated during the last 20 years, per year (I have data from 2000-2019). For this we add all the end of life fates together.

In [34]:
pivotdf = pd.pivot_table(df, values=['value'], index=['year','location'], aggfunc='sum')
sorted_pivotdf = pivotdf.sort_values(by=['year','value'],ascending=False)
sorted_pivotdf.head()

                                     value
year location
2019 United States               72.841058
     China                       65.438605
     OECD EU                     50.671286
     Other non-OECD Asia         25.462381
     Latin America               19.492384
     India                       18.518411
     Middle East & North Africa  16.917150
     Other Eurasia               16.644820
     Other Africa                16.249046
     OECD Non-EU                 16.234798
     OECD Asia                   12.250182
     Other OECD America          11.613383
     Canada                       6.631845
     Other EU                     2.432935
     OECD Oceania                 1.892815
2018 United States               71.579676
     China                       62.392518
     OECD EU                     49.683710
     Other non-OECD Asia         24.517797
     Latin America               18.836333
     India                       17.378131
     Middle East & North Africa  16.345006
     Other Eurasia               16.156753
     OECD Non-EU                 15.746926
     Other Africa                15.661993
     OECD Asia                   11.925862
     Other OECD America          11.344695
     Canada                       6.523815
     Other EU                     2.355159
     OECD Oceania                 1.790679
2017 United States               70.205965
     China                       61.162372
     OECD EU                     48.541290
     Other non-OECD Asia         22.557033
     Latin America               18.127758
     India                       16.163691
     Middle East & North Africa  15.802218
     Other Eurasia               15.602940
     OECD Non-EU                 15.254011
     Other Africa                15.087484
     OECD Asia                   11.242962
     Other OECD America          10.886901
     Canada                       6.404983
     Other EU                     2.286958
     OECD Oceania                 1.693262
2016 United States               69.378141
     China                       58.393067
     OECD EU                     47.408940
     Other non-OECD Asia         20.956342
     Latin America               17.534105

We change the name for clarity to indicate that our unit is millions of tons of plastic.

In [35]:
sorted_pivotdf = sorted_pivotdf.reset_index().rename(columns={"value":"m_tons_plastic"})

   year             location  m_tons_plastic
0  2019        United States       72.841058
1  2019                China       65.438605
2  2019             OECD EU        50.671286
3  2019  Other non-OECD Asia       25.462381
4  2019        Latin America       19.492384

And now we save this for further processing in another notebook (graphics_1)

In [37]:
sorted_pivotdf.to_csv("../data/clean/totalbyyearandcountry.csv", index=False)

## 2. Is it true that the European Union (OECD) has reduced or deccelerated the generation of plastic waste in the last 5 years?
This question can be answered with the figure developed in the graphics_1 notebook file.

## 3. Which % of all used plastic is mismanaged?  What about landfill or burning?

For this question we want to show the distribution per each year of each kint of end of life fate of the plastic waste. In general and then in the EU.

In [42]:
plasticuse = pd.pivot_table(df, values=['value'], index=['year','location','plastic_end_of_life_fates'], aggfunc='sum')
plasticuse.head(50)
pivotdf.sort_values(by=['value'])
pivotdf.sort_values(by=['year','value'],ascending=False)

                                                               value
year location                   plastic_end_of_life_fates
2000 Canada                     Incinerated                 0.151097
                                Landfilled                  3.386902
                                Littered                    0.008696
                                Mismanaged                  0.485324
                                Recycled                    0.127029
     China                      Incinerated                 1.511666
                                Landfilled                  4.385828
                                Littered                    0.068320
                                Mismanaged                 10.350894
                                Recycled                    0.819305
     India                      Incinerated                 0.058963
                                Landfilled                  0.876390
                                Littered                    0.020257
                                Mismanaged                  2.359011
                                Recycled                    0.177113
     Latin America              Incinerated                 0.026203
                                Landfilled                  2.540255
                                Littered                    0.024422
                                Mismanaged                  3.300993
                                Recycled                    0.331489
     Middle East & North Africa Incinerated                 0.027877
                                Landfilled                  3.459274
                                Littered                    0.024488
                                Mismanaged                  3.121883
                                Recycled                    0.193797
     OECD Asia                  Incinerated                 1.649779
                                Landfilled                  3.011471
                                Littered                    0.012270
                                Mismanaged                  0.601118
                                Recycled                    0.229828
     OECD EU                    Incinerated                 5.170488
                                Landfilled                 21.966891
                                Littered                    0.067518
                                Mismanaged                  3.973171
                                Recycled                    1.628860
     OECD Non-EU                Incinerated                 0.991601
                                Landfilled                  5.988789
                                Littered                    0.017818
                                Mismanaged                  1.256187
                                Recycled                    0.229312
     OECD Oceania               Incinerated                 0.040503
                                Landfilled                  0.325270
                                Littered                    0.000871
                                Mismanaged                  0.050274
                                Recycled                    0.016475
     Other Africa               Landfilled                  1.453495
                                Littered                    0.029352
                                Mismanaged                  3.612815
                                Recycled                    0.158260
     Other EU                   Incinerated                 0.017538

In [39]:
#sorted_pivotdf = pd.pivot_table(df, values=['value'], index=['location', 'year'], aggfunc='sum')
#sorted_pivotdf = pivotdf.sort_values(by=['location'])
#sorted_pivotdf.head(50)

## 4. Which % of all used plastic is actually recycled? And in the EU?

Now we want to know how much of all plastic is actually being recycled.